<form action="/urls" method="post">
  Long URL: <input type="text" name="long_url">
  <input type="submit" value="Generate short URL">
</form>

URL List:<br>
<% Url.all.each do |record|%>
  <a href="<%= record.long_url %>"><%= record.long_url %></a> -
  <a href="http://127.0.0.1:9393/<%= record.short_url %>">http://127.0.0.1:9393/<%= record.short_url %></a>
  <%= record.click_count %><br>
  <% end %>
